<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 4000px;
      }
      img {
        vertical-align: top;
      }
      .box {
        border: 1px solid black;
        position: absolute;
        right: 100px;
        bottom: 100px;
      }
    </style>
  </head>
  <body>
    <!--
      position:absolute;

      위치 상 부모 요소를 기준으로 배치
      부모요소 : position 값이 부여된 다른 요소 
                position 값이 부여된 요소가 없다면 화면이 기준임
    -->
    <div class="box">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat eos
      porro, neque sapiente nam delectus autem asperiores doloremque eveniet,
      praesentium voluptas, dignissimos blanditiis necessitatibus iste ad iure
      voluptate impedit. At nemo officiis optio non aliquid? Mollitia quos totam
      est, tenetur minima veniam repellat. Laboriosam fugiat fugit blanditiis
      laudantium nisi soluta quod culpa ipsa esse! Numquam tempore
      exercitationem totam voluptate magnam iusto optio aspernatur eius itaque
      eveniet officiis, sunt, deleniti iure non dolorum voluptas alias cumque
      quia dolorem placeat excepturi. Aliquam illo, ipsa velit neque, sint ut
      deserunt, nisi reprehenderit atque quod aut culpa. Esse alias libero
      dolorum maxime sint quisquam, odit quae temporibus nulla suscipit
      distinctio magnam deserunt at debitis omnis recusandae. Sint quaerat
      nesciunt provident explicabo aliquam facere at, enim doloremque? Placeat
      tempore, quasi nam, repudiandae quo nesciunt accusamus ut amet dolore eum
      rem porro. Cum saepe maxime veniam minima delectus harum nobis, quibusdam
      explicabo sint? Exercitationem culpa similique tempora deleniti,
      temporibus eveniet consequatur assumenda sed odit sit optio aspernatur
      numquam ratione illo, minus facere enim? Consequatur ipsum tempora
      recusandae suscipit, quibusdam enim quod, beatae eaque possimus incidunt
      rem aliquam voluptatibus molestiae consequuntur reprehenderit fugiat
      minus. Voluptatum omnis similique ipsam debitis inventore? Hic, error sit
      vitae provident nihil deserunt cumque consequatur voluptas repudiandae
      dolor numquam excepturi maiores mollitia nam natus eos tenetur molestias
      nisi fugiat repellat? Omnis eveniet in, nihil praesentium minima quidem
      quis inventore nemo ipsam repudiandae ex officia sed suscipit ad earum
      accusantium animi beatae hic soluta alias assumenda! Delectus modi natus
      voluptatem laboriosam a sequi accusamus veritatis, tempora sint magnam
      officiis dolor excepturi, dolorem velit. Quos et aperiam cum provident,
      maxime unde accusamus officia laboriosam nemo libero ratione. Dolore
      explicabo doloribus illum quisquam quasi sunt! Reprehenderit corrupti quas
      deserunt illum similique voluptate quisquam deleniti necessitatibus
      officiis sapiente mollitia, iste consequuntur molestiae. Illum eum ab
      eligendi consequuntur modi, fuga cupiditate. Numquam possimus earum saepe,
      blanditiis tempore minima rem rerum quidem, officiis omnis obcaecati id
      voluptas amet sunt, error veniam ducimus facere dignissimos. Ut aut
      provident cumque et maxime, exercitationem distinctio alias sed numquam
      dolores explicabo obcaecati reprehenderit, vel dolorum sint excepturi.
      Vitae corporis accusantium voluptatum odio voluptas nulla veritatis labore
      natus aspernatur porro provident, incidunt, expedita consequatur nisi
      voluptatibus tempora odit quae tenetur explicabo placeat aperiam, ipsa
      dicta? Incidunt fugiat culpa quo eius, cum, unde explicabo veniam sed
      asperiores modi deleniti deserunt dolorum mollitia illum perspiciatis ea.
      Quis atque id, est iusto perferendis corrupti commodi blanditiis minus
      placeat autem ut voluptatem. Quam suscipit, fuga vitae fugiat eos nemo
      magni provident quisquam deleniti pariatur! Non voluptatibus iste
      laudantium totam dolores commodi enim debitis ipsam incidunt dolor. Rerum
      officia nobis ullam inventore. Fuga beatae incidunt vero doloribus magnam
      quis sint id laboriosam unde cupiditate, enim, exercitationem amet sit
      dolorum pariatur, molestias alias nam ea? Explicabo culpa eveniet,
      reprehenderit sint inventore dicta autem minima itaque aperiam voluptatem,
      maiores quae. Dolorum sint magni blanditiis earum vero illo necessitatibus
      totam in facilis tempore neque, assumenda reiciendis nisi temporibus odio
      ratione placeat quod amet. Quisquam molestias soluta, optio odit quia ad
      fugit quibusdam.
    </p>
  </body>
</html>
